@{
    Layout = "~/Views/Shared/_PopUpLayout.cshtml";
}
<div id="DONOTUSE_HIDDENPOSTDIV" name="DONOTUSE_HIDDENPOSTDIV" style="visibility: hidden"></div>
<iframe id="DONOTUSE_HIDDENPOSTIF" name="DONOTUSE_HIDDENPOSTIF" width="0" height="0" frameborder="0"></iframe>